td {
    border: 1px solid black;
    padding: 10px;
    margin: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
}

table {
    margin: left 10px;
    border-collapse: collapse;
  }

#zero {
    border-top-color: transparent;
    border-left-color: transparent;
}
#one {
    border-top-color: transparent;
}
#two {
    border-top-color: transparent;
    border-right-color: transparent;
}
#three {
    border-left-color: transparent;
}

#five {
    border-right-color: transparent;
}
#six {
    border-left-color: transparent;
    border-bottom-color: transparent;
}
#seven {
    border-bottom-color: transparent;
}
#eight {
    border-right-color: transparent;
    border-bottom-color: transparent;
}